.container{
    width: 100%;
    height: 5vh;
    background-color: var(--primary-color);
    display:flex;
    /* padding:10px; */
    /* border: 2px;
    gap: 25px; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 10px 10px;
    
}

/* .container > div{
}  */

.botones{
    padding: 5px;
    margin: 10px;
    height: 20px;
    background: var(--alternative-color);
    display: flex; 
    justify-content: center;
    align-items:center;
    border-radius: 5px;

    text-decoration: none;
    color: var(--dark-color);
    
    
}