.container{
    background-color: var(--alternative-color);
    height: 95vh;
    background: url("../redbull.jpg");
    color: white;
}


.filtersContainer{
    display: flex;
    justify-content: space-evenly;
    color: white;
}