.button {
    margin: 3px;
    padding: 0;
    background: var(--dark-color);
    color: var(--white-color);
    border: none; /* Eliminado el borde */
    border-radius: 50%; /* Agregado para hacer el botón redondo */
    width: 25px;
    height: 25px;
    cursor: pointer; /* Añadido cursor pointer para indicar que es un botón */
  }
  
  .currentButton {
    margin: 5px;
    padding: 2px;
    background: var(--dark-color);
    color: var(--white-color);
    border: 2px solid var(--secondary-color);
    border-radius: 50%; /* Agregado para hacer el botón redondo */
    width: 25px;
    height: 25px;
    transform: scale(1.2); /* Modificado el atributo scale */
    cursor: pointer; /* Añadido cursor pointer para indicar que es un botón */
  }
  
  .SelectionPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 10px;
  }
  
  .endButtons {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px; /* Añadido para mejorar la apariencia del botón */
    background: var(--dark-color);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }