  .cardContainer {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    font-size: medium;
    align-content: center;
    flex: 0 30%;
    height: 200px;
    justify-content: center;
    background-color: grey;
    padding: 10px;
    border: 2px solid rgb(39,37,37);
    border-radius: 25px;
    margin: 5px;
    text-decoration: none;
  }
  
  .name{
    height: 10%;
    font-size: large;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .behind{
    height: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    
  }

  .image{
    width: 40%;
    margin:10px;
    object-fit: cover;
    height: 150px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 20px;

  }
  .teams{
    width: 60%;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
