.container{
  background-color: var(--alternative-color);
  height: 95vh;
  background: url("../redbull.jpg");
  color: white;
}

.buttonHidden{
  color:grey;
  opacity: 0.5;
}
.buttonHidden:hover{
  
}

.buttonNormal{
  color:blue
}